In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('C:\\Users\\Matheus\\Documents\\UiPath\\teste\\cnae.csv', sep=',')

In [6]:
df.head(2)

,Codigo Secção,Secção,Código Divisão,Divisão,Código Grupo,Grupo,Código Classe,Classe,Código Subclasse,Subclasse
0,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"01 AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.1,01.1 Produção de lavouras temporárias,01.11-3 Cultivo de cereais,01.11-3 Cultivo de cereais,0111-3/01,0111-3/01 Cultivo de arroz
1,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"01 AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.1,01.1 Produção de lavouras temporárias,01.12-1 Cultivo de algodão herbáceo e de outra...,01.12-1 Cultivo de algodão herbáceo e de outra...,0112-1/01,0112-1/01 Cultivo de algodão herbáceo

In [11]:
df.columns

Index(['Codigo Secção', 'Secção', 'Código Divisão', 'Divisão', 'Código Grupo',
       'Grupo', 'Código Classe', 'Classe', 'Código Subclasse', 'Subclasse'],
      dtype='object')

In [15]:
df.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Codigo Secção     310 non-null    object
 1   Secção            310 non-null    object
 2   Código Divisão    310 non-null    int64
 3   Divisão           310 non-null    object
 4   Código Grupo      310 non-null    float64
 5   Grupo             310 non-null    object
 6   Código Classe     310 non-null    object
 7   Classe            310 non-null    object
 8   Código Subclasse  310 non-null    object
 9   Subclasse         310 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 24.3+ KB